/*---------------------MENU------------------------------------------------------*/
#menu body{
	margin: 0;
}

#menu ul{
	margin: 0;
	background-color: black;
	list-style: none;
}

#menu ul li{
	display: inline;
}

#menu ul li a{
	padding: 10px 10px;
	display: inline-block;

	color: white;
	text-decoration: none;
}

#menu img{
	width: 100px;
}

/*--------------------PAGINA SUPERIOR-----------------------------------------*/

#designer_home{
	align-items: center;
	display: flex;
	border:none;
	flex-direction: column;
	position: flex;
	width:100%;
	height:615px;
	background:#E5E5E5;
	background-image: url("../images/designer/background.jpeg");
	border-radius: 0px 0px 75px 75px;
}

.configurationIcon{
	width:680px;
	position: absolute;
	left: 173px;
	top: 150px;
}
.textIcon{
	position: absolute;
	left: 310px;
	top: 310px;
	font-family: Roboto;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color: white;
	text-shadow: 0px 5px 5px rgba(0, 0, 0, 3);
}
.textIdea{
	position: absolute;
	width: 575px;
	height: 91px;
	left: 720px;
	top: 435px;
	font-family: Roboto;
	font-weight: bold;
	font-size:30px;
	text-align: center;
	color: white;
	text-shadow: 0px 5px 5px rgba(0, 0, 0, 4);
}
.buttonHome{
	position: absolute;
	width: 200px;
	height: 50px;
	left: 915px;
	top: 530px;
	background:white;
	text-align: center;
	cursor:pointer;
	font-family: Roboto;
	font-weight: bold;
	font-size:20px;
	text-align: center;
}
.imgIdea{
	position: absolute;
	width: 109px;
	left: 1120px;
	top: 470px;
}



/*-------------------------QUEM SOMOS---------------------------------------*/
.title_two{
	position: static;
	top: 77px;
	font-family: Roboto;
	font-size: 40px;
	line-height: 100px;
	text-align: center;
	color: white;
	text-shadow: 2px 5px 5px rgba(0, 0, 0, 3);
}

.title{
	position: static;
	top: 77px;
	font-family: Roboto;
	font-size: 40px;
	line-height: 100px;
	text-align: center;
	color: #0174DF;
	text-shadow: 2px 3px 3px rgba(0, 0, 0, 3);
}

#designer_we_are{
	align-items: center;
	display: flex;
	border:none;
	flex-direction: column;
	position: flex;
	width:100%;
	background: #0174DF;
}

.container { 
	width: 1000px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background: transparent;
}

.description{
	width: 950px;
	top: 181px;
	color: black;
	font-family: Roboto;
	font-size: 24px;
	text-align: center;
	align-self: center;
}

h2{
    color: #0174DF;
	padding-top: 30px;
	font-family: Roboto;
	text-align: center;
}

.container_value{
	position: static;
	width: 320px;
	height: 260px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
	border-radius: 50px 0px;
	order: 3;
	align-self: center;
	align-items: center;
}

.container_mission{
	position: static;
	width: 320px;
	height: 260px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
	border-radius: 50px 0px;
	order: 1;
	align-self:flex-start;
}
.container_vision{
	position: static;
	width: 320px;
	height: 260px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
	border-radius: 50px 0px;
	order: 2;
	align-items: center;
	align-self:flex-end;
}
#designer_we_are .text{
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
    color: black;
	font-family: Roboto;
	font-size: 18px;
	text-align: center;
}
#designer_we_are .container img{
	padding-left: 125px;
	width: 50px;
	height: 50px;
	position: absolute;
}
/*-----------------------------EQUIPE----------------------------------------------*/
#designer_team{
	top: 90px;
	display: flex;
	flex-direction: column;
	position: static;
	align-items: center;
	width:100%;
	background: #006FFF;
}

#designer_img{
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	width:100%;
}

.container_team{
	position: static;
	width: 230px;
	height: 250px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
	border-radius: 50px 0px;
}

.team{
	position: absolute;
	width: 500;
	height: 300px;
	left: 100px;
	top: 1355px;
}

.boxTeam{
	align-self: flex-end;
	position: static;
	width: 500px;
	height: 500px;
	background: black;
	padding: 10px;
	align-items: center;
}
.teamText{
	padding: 20px;
	color: white;
	font-family: Roboto;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}

.buttonTeam{
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    color:black;
    width: 80%;
    padding:10px;
    border:none;
    border-radius: 20px;
    background: linear-gradient(to right,#00c4cc,#4682B4,#0174DF,#000080);
    outline: none;
    cursor:pointer;
}

/*----------------------------SERVIÇOS-----------------------------------------------*/
#designerService{
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	width:100%;
}

#designerService .text{
	padding-right: 8px;
   	padding-left: 8px;
   	padding-top: 8px;
    color: white;
	top: 92px;
	font-family: Roboto;
	font-size: 18px;
	text-align: center;
}
.button{
    color: #FFF;
    background-color: green;
    border: none;
    height: 60px;
    line-height: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.boxService{
	align-self: flex-end;
	position: static;
	width: 900px;
	height: 430px;
	background: white;
	padding: 10px;
	align-items: center;
	text-align: center;
}

.serviceText{
	padding: 20px;
	color: black;
	font-family: Roboto;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
}

.service{
	position: absolute;
	width: 200px;
	height: 200px;
	left: 100px;
	top:70px;
}
.mobile{
	position: absolute;
	width: 200px;
	height: 200px;
	left: 900px;
	top: 970px;
}

.desktop{
	position: absolute;
	width: 200px;
	height: 200px;
	left: 900px;
	top: 600px;
}

.site{
	position: absolute;
	width: 200px;
	height: 200px;
	left: 900px;
	top: 200px;
}

.web{
	position: absolute;
	width: 200px;
	height: 200px;
	left: 900px;
	top: 1400px;
}

.ecommerce{
	position: absolute;
	width: 200px;
	height: 200px;
	left: 900px;
	top: 1800px;
}

.containerSite{
	position: static;
	width: 500px;
	height: 350px;
	left: 100px;
	top: 499px;
	background: black;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 5);
	border-radius: 50px 0px;
	flex: none;
	order: 2;
	align-self: flex-end;
	flex-grow: 0;
	margin: 0px 0px;
}

.containerSystems{
	position: static;
	width: 500px;
	height: 350px;
	left: 000px;
	top: 100px;
	background:  black;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 5);
	border-radius: 50px 0px;
	flex: none;
	order: 2;
	align-self: flex-end;
	flex-grow: 0;
	margin: 0px 0px;
}

.containerMobile{
	position: static;
	width: 500px;
	height: 350px;
	left: 1000px;
	top: 100px;
	background:  black;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 5);
	border-radius: 50px 0px;
	order: 2;
	align-self: flex-end;
	margin: 0px 0px;
}

.containerWeb{
	position: static;
	width: 500px;
	height: 350px;
	left: 1000px;
	top: 100px;
	background:  black;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 5);
	border-radius: 50px 0px;
	flex: none;
	order: 2;
	align-self: flex-end;
	flex-grow: 0;
	margin: 0px 0px;
}

.containerEcommerce{
	position: static;
	width: 500px;
	height: 350px;
	left: 1000px;
	top: 100px;
	background:  black;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 5);
	border-radius: 50px 0px;
	flex: none;
	order: 2;
	align-self: flex-end;
	flex-grow: 0;
	margin: 0px 0px;
}


/* ------------------------portifolio----------------------------------------------*/
#designer_portfolio{
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	width:100%;
}

.boxLetters{
	background: linear-gradient(to right,#00c4cc,#4682B4,#0174DF,#000080);
    border-radius: 15px;
    width: 400px;
    padding:6px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    color:black;
    text-align: center;
}
.boxPortfolio{
	width:1000px;
	align-items: flex-start;
}

.container_portfolio{ 
	width:1000px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.container_img{
	position: static;
	width: 230px;
	height: 155px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
	border-radius: 50px 0px;
}
.buttonPortfolio{
    font-family: Roboto;
    font-size: 15px;
    padding-bottom: 5px;
    font-weight: bold;
    color:black;
    width: 230px;
    border:none;
    border-radius: 0px 0px 45px 45px;
    background: linear-gradient(to right,#00c4cc,#4682B4,#0174DF,#000080);
    cursor:pointer;
}

/*----------------------------CONTATO-----------------------------------------------*/

#divContact{
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	width:100%;
}
.textContact{
	width: 1000px;
	color: black;
	font-family: Roboto;
	font-size: 20px;
	text-align: center;
	align-self: center;
}

#boxForm{
    background:white;
    width: 700px;
    height:250px;
    align-items: center;
    padding:25px;   
}

#divContact .designerBox input{
    width:100%;
    padding: 5px;
    margin: 5px;
    border:none;
    border-bottom: solid #0174DF;
    font-family: Roboto;
    font-size:20px;
    color: black;
    border-radius: 15px;
    outline: none;
}
#divContact .messageDesigner{
    width:100%;
    padding: 5px;
    margin: 5px;
    border-color: #0174DF;
    border-bottom: solid #0174DF;
    font-family: Roboto;
    font-size:20px;
    color: black;
    border-radius: 15px;
    outline: none;
}
.buttonDesigner{
	align-self: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    color:black;
    width: 105%;
    padding:10px;
    border:none;
    border-radius: 15px;
    background: linear-gradient(to right,#00c4cc,#4682B4,#0174DF,#000080);
    cursor:pointer;
}

.containerContact{
	position: static;
	width: 220px;
	height: 225px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
	border-radius: 50px 0px;
}
#divContact .text{
    color: black;
	font-family: Roboto;
	font-size: 18px;
	text-align: center;
}

.zoneBlack{
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	width:100%;
	height: 100%;
	background: black;
}
