<!DOCTYPE html>

<html>
	<head>
		<title>EcompJr</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="shortcut icon" href="icon.png" type="image/x-png"/>
	</head>


	<body>
<!----------------QUEM SOMOS ------------------------------->
		<div id=designer_we_are>
			
			<div class="titulo_we_are">
				QUEM SOMOS
			</div>

			<div class="description">
				Empresa Júnior de Engenharia de Computação, composta por alunos do curso da Universidade Estadual de Feira de Santana, que promove impactos positivos em micro e pequenas empresas por meio de soluções tecnológicas. 
				<br> 
				<br>
				Fundada em 2007, a EcompJr atualmente participa ativamente do propósito que envolve ser Movimento Empresa Júnior. A empresa promove uma vivência empresarial estratégica para estudantes interessados em liderar a mudança no atual cenário brasileiro.
			</div>

			<div class="container">

				<div class=conteiner_mission>
					<div>
						<img src="MISSOES.png">
					</div>
					<div>
						<h2>MISSÃO</h2>
					</div>
					<div class=text>
						Construir juntos um futuro inovador transformando estudantes em <b>profissionais reconhecidos</b> e aprender a <b>vencer desafios</b> através de <b>oportunidades de impacto</b>.
					</div>
				</div>
				
				<div class=conteiner_vision>
					<div>
						<img src="VISAO.png">
					</div>
					<div>
						<h2>VISÃO</h2>
					</div>
					<div class=text>
						Em 2020, <b>denvolver lideres, comprometidos</b> e <b>capacitados</b> que entregam <b>resultados</b>.
					</div>
				</div>

				<div class=conteiner_value>
					<div>
						<img src="VALORES.png">
					</div>
					<div>
						<h2>VALORES</h2>
					</div>
					<div class=text>
						Os valores de uma empresa guiam a conduta da mesma,portanto a EcompJr. baseia-se nos seguintes valores: <b>Protagonismo, assiduidade, relisiênica, constância em resultados, evolução com os erros, conexão com movimento, ética e empatia</b>.
					</div>
				</div>	
			</div>

		</div>
<!-----------------------------------EQUIPE------------------------------------>
	<br> <br> <br>

	<div id=designer_team>
		
			<div class= "boxTeam">
				<div class="titulo">
					NOSSA EQUIPE
				</div>
				<div class=teamText>
					Nossa equipe é formada por estudantes do curso de Engenharia de Computação da Universidade Estadual de Feira de Santana que trabalham de forma voluntária com o objetivo de desenvolver projetos de qualidade e aprender como funciona o mercado empresarial.
					<br>
					<br>
					<div>
						<a href="equipe.html">
							<button class="buttonTeam">CONHEÇA A EQUIPE</button>
						</a>
					</div>

				</div>
			</div>	
	</div>

<!----------------------------PORTFOLIO----------------------------------------->
	<div id="designer_portfolio">
			
			<div class="titulo">
				PORTFÓLIO
			</div>
			<div class="description">
				Estes são alguns dos projetos que já desenvolvemos:
			</div>
			<br>
			<br>
			<div class="boxPortfolio">
				<div class="boxLetters">
					SITES
				</div>
			</div>
			<br>
			<!--PRIMEIRA FILA IMAGEM-->
			<div class="container_portfolio">

				<div>
					<img class="conteiner_img" src="ALFA.png">
					<div> 
						<a href="https://www.google.com/search?q=tradutor&oq=tradutor&aqs=chrome.0.69i59l2j0j0i433l2j0l3.1997j0j7&sourceid=chrome&ie=UTF-8">
						<button class="buttonPortifolio">Alfa JR</button>
						</a>
					</div>
				</div>

				<div>
					<img class="conteiner_img" src="admjr.png">
					<div> 
						<a href=>
						<button class="buttonPortifolio">ADM JR</button>
						</a>
					</div>
				</div>

				<div>
					<img class="conteiner_img" src="apas.png">
					<div> 
						<a href=>
						<button class="buttonPortifolio">APAS</button>
						</a>
					</div>
				</div>

				<div>
					<img class="conteiner_img" src="life.png">
					<div> 
						<a href=>
						<button class="buttonPortifolio">Life JR</button>
						</a>
					</div>
				</div>

			</div>
			<br> <br>

			<!--segunda FILA IMAGEM-->
			<div class="container_portfolio">
				<div>
					<img class="conteiner_img" src="engetec.png">
					<div> 
						<a href=>
						<button class="buttonPortifolio">Engetec JR</button>
						</a>
					</div>
				</div>

				<div>
					<img class="conteiner_img" src="carvalho.png">
					<div> 
						<a href=>
						<button class="buttonPortifolio">Carvalho Alves Advocacia</button>
						</a>
					</div>
				</div>

				<div>
					<img class="conteiner_img" src="tecnoexpress.png">
					<div> 
						<a href=>
						<button class="buttonPortifolio">Tecnoexpress</button>
						</a>
					</div>
				</div>

				<div>
					<img class="conteiner_img" src="fbta.png">
					<div> 
						<a href=>
						<button class="buttonPortifolio"> FBTA </button>
						</a>
					</div>
				</div>
			</div>
			
			<br> <br>
			<!--TERCEIRA FILA IMAGEM-->
			<div class="container_portfolio">
				<div>
					<img class="conteiner_img" src="emartes.png">
					<div> 
						<a href=>
						<button class="buttonPortifolio">Emartes</button>
						</a>
					</div>
				</div>

				<div>
					<img class="conteiner_img" src="pollar.png">
					<div> 
						<a href=>
						<button class="buttonPortifolio">Pollar Refrigeração</button>
						</a>
					</div>
				</div>

				<div>
					<img class="conteiner_img" src="souza.png">
					<div> 
						<a href=>
						<button class="buttonPortifolio">Super Souza</button>
						</a>
					</div>
				</div>

				<div>
					<img class="conteiner_img" src="tripeco.png">
					<div> 
						<a href=>
						<button class="buttonPortifolio">Tripeco</button>
						</a>
					</div>
				</div>
			</div>

			
			<br>
			<br>
			<div class="boxPortfolio">
				<div class="boxLetters">
					SISTEMAS
				</div>
			</div>
			<br>
			<div class="container_portfolio">
				<div>
					<img class="conteiner_img" src="colegiado.png">
					<div> 
						<a href="http://www.ecomp.uefs.br/">
						<button class="buttonPortifolio">Colegiado Engenharia Computação</button>
						</a>
					</div>
				</div>

				<div>
					<img class="conteiner_img" src="plamol.png">
					<div> 
						<a href="http://www.ecompjr.com.br/portfolio/plamol-details.html">
						<button class="buttonPortifolio">Plamol</button>
						</a>
					</div>
				</div>

				<div>
					<img class="conteiner_img" src="resolucoesUefs.png">
					<div> 
						<a href="http://uefsresolve.ecompjr.com.br/">
						<button class="buttonPortifolio">Resoluções UEFS</button>
						</a>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="boxPortfolio">
				<div class="boxLetters">
					DESKTOP
				</div>
			</div>
			<br>
			<div class="container_portfolio">
				<div>
					<img class="conteiner_img" src="absman.png">
					<div> 
						<a href="https://absam.io/">
						<button class="buttonPortifolio">ABSAM</button>
						</a>
					</div>
				</div>
			</div>
			

		</div>

<!------------------------------------CONTATO--------------------------------------->
	<div id="divContato">
		<br>
		<div class="titulo">
				ENTRE EM CONTATO
		</div>
		<div class="textContato">
			Deseja saber mais sobre nossos produtos e serviços? Gostaria de fazer o orçamento de algum projeto?<br> Acredita que uma parceria com a EcompJr seria uma boa ideia? <br> Para isso, e qualquer outra dúvida entre em contato!
		</div>
		<div  id="boxForm">
			<form>
				<div class="designerBox">
				    <input name="name" placeholder="Seu nome"> 
				</div>  
				<div class="designerBox">
				   	<input name="email" placeholder="Seu e-mail">
				</div>  
				<div class="designerBox">
				    <input name="topic" placeholder="Assunto">
				</div>  
				<div class="designerBox">
				   	<textarea class="messageDesigner" name="message" placeholder="Sua mensagem" rows="4" ></textarea>
				</div> 
			</form> 
			<div>
			   <button class="buttonDesigner" type="submit"> ENVIAR MENSAGEM </button> 
			</div>         
		</div>
		<br>
		<br>
		<br>
		<div class="zoneBlack">
			<div class="container">

				<div class="conteiner_contate">
					<h2>ENDEREÇO:</h2>
					<div class=text>
						UEFS - Avenida Transnordestina, s/nº - Módulo 5, MP 51A <br>Novo Horizonte,<br> Feira de Santana - BA,<br>CEP: 44036-900
					</div>
				</div>

				<div class="conteiner_contate">
					<h2>WHATSAPP:</h2>
					<div class=text>
						(75) 98897-6806
					</div>
				</div>
				<div class="conteiner_contate">
					<h2>EMAIL:</h2>
					<div class=text>
						ecompjr@uefs.br
					</div>
				</div>
				<div class="conteiner_contate">
					<h2>HORÁRIOS:</h2>
					<div class=text>
						Segunda à Sexta - <br>das 7:30 às 17:30
					</div>
				</div>
			</div>
		</div>
	</div>


	</body>

</html>
