<!DOCTYPE html>

<html>
	<head>
		<title>EcompJr</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>


	<body>
<!----------------QUEM SOMOS ------------------------------->
		<div id=designer_we_are>
			
			<div class="titulo">
				QUEM SOMOS
			</div>

			<div class="description">
				Empresa Júnior de Engenharia de Computação, composta por alunos do curso da Universidade Estadual de Feira de Santana, que promove impactos positivos em micro e pequenas empresas por meio de soluções tecnológicas. 
				<br> 
				<br>
				Fundada em 2007, a EcompJr atualmente participa ativamente do propósito que envolve ser Movimento Empresa Júnior. A empresa promove uma vivência empresarial estratégica para estudantes interessados em liderar a mudança no atual cenário brasileiro.
				<br>
				<br>
				<br>
			</div>

			<div class="container">

				<div class=conteiner_mission>
					<div>
						<img src="/SiteEcompjr/imagens/designer/MISSOES.png">
					</div>
					<div>
						<h2>MISSÃO </h2>
					</div>
					<div class=text>
						Construir juntos um futuro inovador transformando estudantes em profissionais reconhecidos e aprender a vencer desafios através de oportunidades de impacto.
					</div>
				</div>
				
				<div class=conteiner_vision>
					<div>
						<img src="/SiteEcompjr/imagens/designer/VISAO.png">
					</div>
					<div>
						<h2>VISÃO</h2>
					</div>
					<div class=text>
						Em 2020, denvolver lideres, comprometidos e capacitados que entregam resultados.
					</div>
				</div>

				<div class=conteiner_value>
					<div>
						<img src="/SiteEcompjr/imagens/designer/VALORES.png">
					</div>
					<div>
						<h2>VALORES</h2>
					</div>
					<div class=text>
						os valores de uma empresa guiam a conduta da mesma,portanto a EcompJr. baseia-se nos seguintes valores: Protagonismo, assiduidade, relisiênica, constância em resultados, evolução com os erros, conexão com movimento, ética e empatia. 
					</div>
				</div>	
			</div>
			

		</div>

<!----------------------------PORTFOLIO----------------------------------------->
		<div id="designer_portfolio">
			
			<div class="titulo">
				PORTFÓLIO
			</div>
			<div class="description">
				Estes são alguns dos projetos que já desenvolvemos:
			</div>

			<div class="boxPortfolio">
				SITES
			</div>
		<!--	
			<div class="container">
			</div>

			<div class="container">
			</div>

			<div class="container">
			</div>-->

			<div class="boxPortfolio">
				SISTEMAS
			</div>
		<!--	
			<div class="container">
			</div>

			<div class="container">
			</div>

			<div class="container">
			</div>-->

			<div class="boxPortfolio">
				DESKTOP
			</div>
		<!--	
			<div class="container">
			</div>

			<div class="container">
			</div>

			<div class="container">
			</div>-->

		</div>

<!------------------------------------CONTATO--------------------------------------->
	<div id="divContato">
		<br>
		<div class="titulo">
				ENTRE EM CONTATO
		</div>
		<div class="textContato">
			Deseja saber mais sobre nossos produtos e serviços? Gostaria de fazer o orçamento de algum projeto?<br> Acredita que uma parceria com a EcompJr seria uma boa ideia? <br> Para isso, e qualquer outra dúvida entre em contato!
		</div>
		<div  id="boxForm">
			<form>
				<div class="designerBox">
				    <input name="name" placeholder="Seu nome"> 
				</div>  
				<div class="designerBox">
				   	<input name="email" placeholder="Seu e-mail">
				</div>  
				<div class="designerBox">
				    <input name="topic" placeholder="Assunto">
				</div>  
				<div class="designerBox">
				   	<textarea class="messageDesigner" name="message" placeholder="Sua mensagem" rows="4" ></textarea>
				</div> 
			</form> 
			<div>
			   <button class="buttonDesigner" type="submit"> ENVIAR MENSAGEM </button> 
			</div>         
		</div>
		<br>
		<br>
		<br>
		<br>
		<div class="container">

			<div class="conteiner_contate">
				<h2>ENDEREÇO:</h2>
				<div class=text>
					UEFS - Avenida Transnordestina, s/nº - Módulo 5, MP 51A Novo Horizonte, Feira de Santana - BA, 44036-900
				</div>
			</div>

			<div class="conteiner_contate">
				<h2>WHATSAPP:</h2>
				<div class=text>
					(75) 98897-6806
				</div>
			</div>
			<div class="conteiner_contate">
				<h2>EMAIL:</h2>
				<div class=text>
					ecompjr@uefs.br
				</div>
			</div>
			<div class="conteiner_contate">
				<h2>HORÁRIOS:</h2>
				<div class=text>
					Segunda à Sexta - das 7:30 às 17:30
				</div>
			</div>
		</div>
	</div>


	</body>

</html>
