<!DOCTYPE html>

<html>
	<head>
			<title>EcompJr - Serviços</title>
			<meta charset="utf-8">
			<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	
	<body>
		<div id="menu">
			<ul>
				<li><a href="index.html#designer_home"><img src="logoNome.png"></a></li>
				<li><a href="index.html#designer_we_are"> Quem Somos</a></li>
				<li><a href="index.html#designer_team"> Equipe</a></li>
				<li><a href="index.html#designerService"> Serviços</a></li>
				<li><a href="index.html#designer_portfolio"> Portifólio</a></li>
				<li><a href="index.html#divContato"> Contato</a></li>
			</ul>			
		</div>

		<div id="designerService">

			<div class="title">
				SERVIÇOS
			</div>

			<div class="container">
				<div class="containerSite">
					<div>
						<h2>SITES </h2>
					</div>
					<div class="text">
						Desenvolvimento de sites de forma criativa, funcional e responsiva, oferecendo a melhor solução para você ou sua empresa. <br>
						<br>
						POR QUE EU DEVERIA TER UM SITE DA MINHA EMPRESA?<br>
						<br> 
						Divulgação da sua empresa facilitando a criação de novos clientes Fortalecimento da imagem da sua empresa Informações importantes disponíveis e de fácil acesso aos seus clientes Divulgação dos seus produtos e serviços.
					</div>

					<div class="site" >
						<img src="SITE.png">
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="containerSystems">
					<div>
						<h2>SISTEMAS LOCAIS </h2>
					</div>
					<div class="text">
						Desenvolvimento de sites de forma criativa, funcional e responsiva, oferecendo a melhor solução para você ou sua empresa. <br>
						<br>
						POR QUE EU DEVERIA TER UM SITE DA MINHA EMPRESA?<br>
						<br> 
						Divulgação da sua empresa facilitando a criação de novos clientes Fortalecimento da imagem da sua empresa Informações importantes disponíveis e de fácil acesso aos seus clientes Divulgação dos seus produtos e serviços.
					</div>

					<div class="desktop">
						<img src="DESKTOP.png">
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="containerMobile">
					<div>
						<h2>APLICATIVOS MOBILE </h2>
					</div>
					<div class="text">
						Desenvolvimento de sites de forma criativa, funcional e responsiva, oferecendo a melhor solução para você ou sua empresa. <br>
						<br>
						POR QUE EU DEVERIA TER UM SITE DA MINHA EMPRESA?<br>
						<br> 
						Divulgação da sua empresa facilitando a criação de novos clientes Fortalecimento da imagem da sua empresa Informações importantes disponíveis e de fácil acesso aos seus clientes Divulgação dos seus produtos e serviços.
					</div>

					<div class="mobile">
						<img src="MOBILE.png">
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="containerWeb">
					<div>
						<h2>SISTEMAS WEB </h2>
					</div>
					<div class="text">
						Desenvolvimento de sites de forma criativa, funcional e responsiva, oferecendo a melhor solução para você ou sua empresa. <br>
						<br>
						POR QUE EU DEVERIA TER UM SITE DA MINHA EMPRESA?<br>
						<br> 
						Divulgação da sua empresa facilitando a criação de novos clientes Fortalecimento da imagem da sua empresa Informações importantes disponíveis e de fácil acesso aos seus clientes Divulgação dos seus produtos e serviços.
					</div>

					<div class="web">
						<img src="WEB.png">
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="containerEcommerce">
					<div>
						<h2>E-COMMERCE </h2>
					</div>
					<div class="text">
						Desenvolvimento de sites de forma criativa, funcional e responsiva, oferecendo a melhor solução para você ou sua empresa. <br>
						<br>
						POR QUE EU DEVERIA TER UM SITE DA MINHA EMPRESA?<br>
						<br> 
						Divulgação da sua empresa facilitando a criação de novos clientes Fortalecimento da imagem da sua empresa Informações importantes disponíveis e de fácil acesso aos seus clientes Divulgação dos seus produtos e serviços.
					</div>

					<div class="ecommerce">
						<img src="ECOMERCE.png">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>